@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0;
  }
}

html.inputAdded {
  overflow: hidden;
  position: relative;
  transition: 0.5s all ease-in-out;
}
.inputAdded::after {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0000009e;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.5s all ease-in-out;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
  /* font-family: 'Poppins', 'DM Sans', 'sans-serif' !important; */
}

/* @layer base {
    * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins' !important;
}
p,
span {
  font-family: 'DM Sans', 'sans-serif' !important;
}

.dropemnu_design {
  border-radius: 11px;
  padding: 10px 23px;
  /* box-shadow: 0 0 13px rgb(207 207 207 / 80%); */
  background: #ffff;
  max-height: 180px;
  overflow-y: clip;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  width: 100vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
  z-index: 9;
}
.primary_header_container .countries_dropdown_container .dropemnu_design {
  width: 80px !important;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

.dropemnu_design::-webkit-scrollbar {
  display: none !important;
}
.dropemnu_design div:first-child{
  display: flex !important;
  gap: 20px;
}

.displayProperty {
  display: none;
}

.react-multi-carousel-track {
  height: 420px !important;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
.react-multi-carousel-track {
  height: 400px !important;
}
.carousel-container {
  height: 480px !important;
}
/* stack card css */

.stack_container {
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 90%;
  margin: auto;
}
.stack_left_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnn {
  border-radius: 130px;
  border: 1px solid var(--green, #a2d061);
  text-align: center;
  display: inline-block;
  padding: 18px 37px;
  align-items: stretch;
  font-weight: 600;
  color: #a2d061;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  white-space: nowrap;
}
.stack_card_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.stack {
  position: relative;
  width: 400px;
  height: 520px;
  text-align: left;
}
.text_left {
  text-align: left;
}
.text_left p {
  font-size: 30px;
  font-weight: 400;
}
.text_left h3 {
  font-size: 46px;
  line-height: 52px;
  margin: 10px 0 35px 0;
  letter-spacing: 1px;
}
.text_left h3 b {
  display: block;
}
input:focus {
  outline: none;
  box-shadow: none;
}
/* ::-webkit-calendar-picker-indicator {
  background-image: url('./assets/Calender.svg');
  width:50px;
} */
/* .card {
  width: 300px;
  height: 400px;
  background-color: white;
  background: linear-gradient(
    to bottom,
    rgba(235, 236, 240, 1) 0%,
    rgba(255, 255, 255, 1) 60%
  );
  border: 1px solid #ccc;
  border-radius: 12px;
  position: absolute;
  transform: translateY(0);
  animation: onTop 12s 2s ease infinite;
  box-shadow: 4px 4px 8px rgba(180, 181, 185, 0.5);
}
.card.one {
  left: 0;
  top: 0;
  z-index: 2;
  animation-name: onTop;
}
.card.two {
  left: -20px;
  top: -20px;
  z-index: 1;
  animation-name: onMiddle;
}
.card.three {
  left: -40px;
  top: -40px;
  z-index: 0;
  animation-name: onBottom;
}
.card .span {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    'DejaVu Sans', Verdana, 'sans-serif';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* @keyframes onTop {
  5% {
    transform: translateX(-300px);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
  10% {
    transform: translateX(0);
    z-index: 0;
    left: -40px;
    top: -40px;
  }
  40% {
    transform: translateX(0);
    z-index: 0;
    left: -40px;
    top: -40px;
  }
  50% {
    transform: translateX(0);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
  70% {
    transform: translateX(0);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
  80% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
}
@keyframes onMiddle {
  10% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
  40% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
  45% {
    transform: translateX(-300px);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
  50% {
    transform: translateX(0);
    z-index: 0;
    left: -40px;
    top: -40px;
  }
  70% {
    transform: translateX(0);
    z-index: 0;
    left: -40px;
    top: -40px;
  }
  80% {
    transform: translateX(0);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
}
@keyframes onBottom {
  10% {
    transform: translateX(0);
    z-index: 0;
    left: -20px;
    top: -20px;
  }
  40% {
    transform: translateX(0);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
  50% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
  70% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
  75% {
    transform: translateX(-300px);
    z-index: 1;
    left: -20px;
    top: -20px;
  }
  80% {
    transform: translateX(0);
    z-index: 0;
    left: -40px;
    top: -40px;
  }
} */

.lists {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 0;
}
.list {
  list-style: none;
  position: absolute;
  width: 300px;
  height: 400px;
  transition: transform 1s, z-index 1s;
  display: inline-block;
  z-index: 0;
  transform: translateX(0);
}
.list:nth-child(2) {
  z-index: -1;
  transform: scale(0.95) translateX(-35px);
}
.list:nth-child(3) {
  z-index: -2;
  transform: scale(0.9) translateX(-70px);
}
.list:nth-child(4) {
  z-index: -3;
  transform: scale(0.85) translateX(-105px);
}
.list:nth-child(5) {
  z-index: -4;
  transform: scale(0.8) translateX(-140px);
}
.list img {
  width: 300px;
  height: 400px;
}

.text {
  padding-left: 200px;
}
.text_animation {
  animation: rightAnimate 2.9s linear;
  animation-fill-mode: forwards;
  position: absolute;
  width: 300px;
  height: 400px;
}
.text_animation img {
  width: 300px;
  height: 400px;
}
@keyframes rightAnimate {
  0% {
    z-index: 100;
    transform: translateX(0);
  }
  25% {
    z-index: -4;
    transform: translateX(50px) scale(1.05);
  }
  50% {
    z-index: -4;
    transform: translateX(-75px) scale(0.9);
  }
  75% {
    z-index: -4;
    transform: translateX(-100px) scale(0.85);
  }
  100% {
    transform: scale(0.8) translateX(-140px);
    z-index: -4;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  outline: none;
}

input[type='radio'] {
  accent-color: green;
}

/* responsive start */
@media (min-width: 768px) {
  .filterPanel_top svg {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .dropemnu_design {
    width: 100%;
    z-index: 999;
    min-width: 290px !important;
    margin-top: -30px;
  }
}

button:focus-visible,
button:focus,
button:active {
  outline: 0 !important;
  box-shadow: 0 !important;
}
