.colored_dot {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: 2px solid #d0d0cc;
  outline-offset: 3px;
  position: relative;
}

.colored_dot.active {
  outline-color: red;
  outline-offset: 3px;
}

.colored_dot img {
  display: inline-block;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #0003 !important;
}


@media screen and (max-width:1500px) {
  .colored_dot {
    width: 20px;
    height: 20px;
  }
  
}
