.colored_dot {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: 1px solid #d0d0cc;
  outline-offset: 3px;
  position: relative;
}

.colored_dot.active {
  outline-color: red;
  outline-offset: 3px;
}

.colored_dot img {
  display: inline-block;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #0003 !important;
}


@media (max-width:1440px){
  .colored_dot {
    width: 18px;
    height: 18px;
    outline: 1px solid #d0d0cc;
    outline-offset: 2px;
  }
  
  .colored_dot.active {
    outline-color: red;
    outline-offset: 3px;
  }
}
