.Store_section {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  padding-block: 1rem;
}

.Store_section_container {
  max-width: 1400px;
  margin: 0 auto;
}

.Store_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}

.Store_left_content {
  flex: 2;
}

.Store_right_content {
  flex: 7;
}

.planning_section {
  background-color: #fff;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 30px;
}

.planning_section_content {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.planning_section_content .detail_content {
  min-width: 368px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 7px;
}

.bottom_buttons {
  width: 100%;
  margin-top: 2rem;
}

.bottom_buttons button {
  width: 12%;
  border: 1px solid #a2d061;
  height: 50px;
  margin-right: 1rem;
  border-radius: 30px;
  color: #a2d061;
}

.bottom_buttons button:first-child {
  background-color: #a2d061;
  color: #fff;
}

.detail_content input[type='radio'] {
  cursor: pointer;
}
