.icons_container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
