.cart_left_butttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.8rem;
}

.cart_left_butttons .button {
  width: 111px;
  height: 57px;
  border-radius: 130px;
  border: 1px solid var(--green, #a2d061);
  background: rgba(162, 208, 97, 0.2);
  color: var(--green, #a2d061);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
}

.cart_left_butttons button:nth-child(2) {
  background: var(--green, #a2d061);
  width: 161px;
  color: #fff;
}
