.text {
  overflow: hidden;
  width: 100%;
}
.text ul {
  position:relative;
  width: 680px;
  height: 500px;
}
.text ul li:nth-child(1) {
  width: 100%;
  max-width: 500px;
  position: absolute;
  right: 0;
  z-index: 5;
}
.text ul li:nth-child(2) {
  width: 100%;
  max-width: 450px;
  position: absolute;
  left: 132px;
  z-index: 4;
}
.text ul li:nth-child(3) {
  width: 100%;
  max-width: 400px;
  position: absolute;
  left: 84px;
  z-index: 3;
}
.text ul li:nth-child(4) {
  width: 100%;
  max-width: 350px;
  position: absolute;
  left: 40px;
  z-index: 2;
}
.text ul li:nth-child(5) {
  width: 100%;
  max-width: 300px;
  position: absolute;
  left: 0px;
  z-index: 1;
}