.emptyContent {
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: #fafafa;
  border: 2px dashed #a2d061;
  padding-top: 0;
  max-height: 500px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyContent h2 {
  font-size: 3rem;
  font-family: 'DM Sans' !important;
}

.emptyContent button {
  width: 40%;
  background-color: #a2d061;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
}
