.customer_section {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
}

.customer_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.customer_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}

.customer_left_content {
  flex: 2;
}

.customer_right_content {
  flex: 6;
}

.customers_data_table {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 2rem;
}

.customers_data_table table {
  width: 100%;
  margin-bottom: 1rem;
}

.customers_data_table table tr:first-child {
  background-color: #f0f0f0;
}
.customers_data_table table th,
.customers_data_table table td {
  text-align: left;
  padding: 15px;
}

.customers_data_table table td {
  border-bottom: 1px solid #ddd;
}

.customers_data_table .action_icons {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  align-items: center;
}

.pagination_container {
  width: 100%;
}

.pagination_container .pagination_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
