.cart_left_desc {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.16px;
}

.cart_left_radio_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.cart_left_btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.viewCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 14px;
}
.viewCart button {
  font-size: 18px;
  font-weight: 600;
  background: var(--green, #a2d061);
  color: #fff;
  text-align: center;
  font-family: 'Poppins' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  border-radius: 130px;
  padding: 8px 26px;
  display: none;
}

/* @media screen and (max-width:991px) {
  .viewCart button{
    display: block;
  }
  
} */
