.shipping_container {
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 400;
}

.form {
  width: 100%;
}

.form_inputs {
  width: 100%;
  margin-bottom: 10px;
}
.form_inputs input {
  padding: 20px;
  width: 100%;
  max-width: -webkit-fill-available;
  border-radius: 36px;
  border: 1px solid #d8d8d8;
}

.form_inputs.flexInputs {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}
