.detail_page_wrapper {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 20px;
}
.detail_page_wrapper::-webkit-scrollbar {
  display: none;
}
.detail_page_container {
  width: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(217, 217, 217, 0.5);
}
.detail_page_container::-webkit-scrollbar {
  display: none;
}

.detail_page_left_top {
  width: 50%;
}

.detail_page_image_content {
  width: 100%;
  background: rgba(162, 208, 97, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 240px);
}

.detail_page_left_top .images_container {
  max-width: 95%;
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
  /* overflow: hidden;
  overflow-x: auto; */
  margin: 25px auto;
  text-align: center;
}
.detail_page_left_top .images_container div span {
  border: 1px solid rgb(224 224 224 / 73%) !important;
  margin: 5px 0 0 !important;
  padding: 0 5px !important;
  box-shadow: 0 0 10px rgb(189 189 189 / 30%);
}
.uploaded_content {
  text-align: center;
}
.uploaded_content > p:first-child {
  font-size: 17px;
}
.uploaded_content p.fw400 {
  font-size: 14px !important;
}
.images_container .img {
  width: 124px;
  height: 112px;
  background: rgba(162, 208, 97, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll_hide::-webkit-scrollbar {
  display: none !important;
}
.slider_container {
  width: 100%;
  height: 112px;
}

.thumbnail_container {
  width: 124px;
  height: 112px;
}

/* Right Section */
.detail_page_right_section {
  padding: 3rem 4rem 2rem 0;
  max-width: 50%;
}

.detail_page_right_section .tag {
  height: 28px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  background: rgba(162, 208, 97, 0.15);
  padding: 5px 20px;
}

.detail_page_right_section .tag p {
  color: rgba(17, 17, 17, 0.7);
  font-family: 'DM Sans' !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  text-transform: capitalize;
}

.detail_page_right_section .title {
  margin-top: 1.2rem;
  width: 572px;
  color: #111;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  display: flex;
  align-items: center;
}

.detail_page_right_section .reviews {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
  align-items: center;
}

.text_review .text_review_content {
  color: #000;
  font-family: 'Poppins' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.product_image {
  object-fit: contain;
}

.detail_page_right_section .text_content {
  margin-top: 1.5rem;
  flex-shrink: 0;
}

.text_content p {
  color: #22202f;
  transition: all 0.4s ease-in;
  font-family: 'DM Sans' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.text_content .read_more {
  color: #a2d061;
  font-family: 'DM Sans' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-decoration-line: underline;
  cursor: 'pointer';
  display: inline-flex;
}

.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 4px;
}

.star_review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.text_review span {
  display: inline-block;
  color: #000;
  font-family: 'Poppins' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
}

.input-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.8rem;
}

.input-checkbox input[type='checkbox'] {
  width: 22px;
  height: 20px;
  background: #d9d9d9;
}

.buttons {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.buttons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  background: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #585858;
  font-size: 14px;
  font-weight: 500;
}

.buttons .btn.active {
  background-color: #a2d061;
  color: #fff;
}

.para_text {
  margin-top: 60px;
}

.para_text p {
  color: #111;
  font-family: 'Poppins' !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.para_text .input {
  width: 90px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  box-shadow: -1px -1px 8px 0px rgba(0, 0, 0, 0.06) inset,
    0px 4px 37px 0px rgba(0, 0, 0, 0.06);
  margin-top: 0.9rem;
  padding-left: 1rem;
}

.para_text .inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1.1rem;
}

.para_text .inputs div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.para_text .inputs div input[type='checkbox'] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background: rgba(202, 202, 202, 0.12);
  margin-right: 5px;
}

.para_text .upload_logo {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}

.para_text .upload_logo div {
  flex: 1;
  position: relative;
  min-height: 180px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px dashed var(--green, #a2d061);
  background: rgba(162, 208, 97, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para_text .upload_logo div img {
  object-fit: contain;
}

.para_text .upload_logo label p:nth-child(1) {
  margin-bottom: 10px;
}

.para_text .upload_logo label input[type='file'] {
  display: none;
}

.number_of_units {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.number_of_units p {
  color: #111;
  font-family: 'Poppins' !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 100% */
}

.certBy {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.number_of_units button {
  padding: 6px 11px;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  background: rgba(162, 208, 97, 0.15);
  font-size: 11px;
  font-weight: 400;
  color: #111111;
}

.input_data_required {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-top: 18px;
}
.input_data_required span {
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1%;
}

.input_data_required input[type='number'] {
  width: 90px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  box-shadow: -1px -1px 8px 0px rgba(0, 0, 0, 0.06) inset,
    0px 4px 37px 0px rgba(0, 0, 0, 0.06);
  padding-left: 17px;
}

.input_data_required input::placeholder {
  color: rgba(17, 17, 17, 0.3);
  font-family: 'DM Sans' !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

.select_size_quantity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 3.3rem;
}

.select_size_quantity p {
  color: #111;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 15px;
}

.select_size_quantity .inputs {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 11px;
}

.select_size_quantity .inputs input[type='number'] {
  width: 90px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  box-shadow: -1px -1px 8px 0px rgba(0, 0, 0, 0.06) inset,
    0px 4px 37px 0px rgba(0, 0, 0, 0.06);
  color: rgba(17, 17, 17, 0.3);
  font-family: 'DM Sans' !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
  padding-left: 17px;
}

.select_size_quantity .inputs input[type='number']:focus {
  outline: none;
}

.select_size_quantity input::placeholder {
  color: rgba(17, 17, 17, 0.3);
  font-family: 'DM Sans' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

.standard_business_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.standard_business_section p:nth-child(1) {
  color: #111;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 15px;
}

.standard_business_section p:nth-child(2) {
  color: rgba(17, 17, 17, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.standard_down_line {
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  margin-top: 2.5rem;
}

.price_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.price_section p:nth-child(1) {
  color: #111;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 15px;
}

.price_section p:nth-child(2) {
  color: #111;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  letter-spacing: 0.2px;
}

.add_to_bulk_container {
  width: 100%;
  margin-top: 40px;
}

.add_to_bulk_container button {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
  background: var(--green, #a2d061);
  padding: 22px 0;
  color: #fff;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 70% */
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 1.4rem;
  transition: all 0.3s ease;
}
.add_to_bulk_container button:hover {
  background-color: transparent;
  color: #a2d061;
}
.collection_items {
  width: 100%;
  margin-bottom: 2rem;
}

.swag_added_section {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swag_added_section h2 {
  color: #111;
  font-family: 'Poppins';
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.38%; /* 34.679px */
  letter-spacing: 0.26px;
}

.swag_added_section button {
  width: 172px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 130px;
  border: 1px solid var(--green, #a2d061);
  color: var(--green, #a2d061);
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.colors_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 18px 0 0 0s;
}

.select_color_section {
  margin-bottom: 1.5rem;
}

.select_color_section p {
  color: #111;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  margin-bottom: 1rem;
}

.customization_text p {
  color: #111;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.total_estimate_container {
  width: 100%;
}

.total_estimate_container_text {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: #808080;
}

.total_estimate_container_text p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.bottom_icons {
  width: 60%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.bottom_icons .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.bottom_icons .container .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.bottom_icons
  .container
  .content
  img
  .bottom_icons
  .container
  .content
  span:nth-child(2) {
  color: #242424;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart_left_swift {
  width: 100%;
  margin-bottom: 2.3rem;
}

.cart_left_swift h6 {
  color: #111;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 1rem;
}
.cart_left_swift > p {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0.8rem;
  margin-bottom: 5px;
}

.cart_left_swift > .cart_left_swift_content {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: start;
  position: relative;
}

.cart_left_swift_content > input[type='checkbox'] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  accent-color: #a2d061;
  color: #fff;
  border: 1px solid #cacaca;
  background: rgba(202, 202, 202, 0.12);
  margin-top: 3px;
}

.sticky_sec {
  position: sticky;
  top: 0;
}

.input_checkbox {
  display: flex;
  align-items: center;
  margin: 10px 0 15px 0;
}
.input_checkbox span {
  margin-left: 10px;
}

.fw400 {
  font-weight: 400;
}

.colorLight {
  color: #949090;
  margin: 0 2px;
}

.common_header {
  display: flex;
  align-items: start;
  gap: 5px;
}

p.fw400 {
  font-weight: 400;
}

/* custom checkbox */

.custom_checkbox {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  display: flex;
  align-content: center;
}

.custom_checkbox input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.custom_checkbox label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif !important;
}

.custom_checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.custom_checkbox input[type='checkbox']:checked + label:before {
  background-color: #a2d061;
  border-color: #a2d061;
}
.custom_checkbox label:after {
  content: ' ';
  font-size: 14px;
  color: #fff;
  position: absolute;
  line-height: 18px;
  left: 6px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 2px 2px 0;
  transform: rotate(35deg);
}

.custom_checkbox input[type='checkbox']:checked + label:after {
  visibility: visible;
}
.product_Images {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
}
.size_div input {
  margin-left: 8px;
}

.cross_logo {
  position: absolute;
}

@media screen and (max-width: 1160px) {
  .detail_page_container {
    gap: 1rem;
  }
  .detail_page_right_section {
    padding: 3rem 2rem 2rem 0;
    max-width: 450px;
  }
  .detail_page_right_section .title {
    font-size: 24px;
    width: 85%;
  }
}
@media screen and (max-width: 991px) {
  .detail_page_container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .detail_page_wrapper {
    height: 100%;
    overflow-y: unset;
  }
  .detail_page_left_top .images_container {
    justify-content: center !important;
    text-align: center !important;
  }
  .detail_page_right_section {
    padding: 3rem 0;
    max-width: 90%;
  }
  .add_to_bulk_container {
    text-align: center;
  }
  .add_to_bulk_container button {
    font-size: 16px;
    max-width: 60%;
    padding: 20px;
  }
  .detail_page_image_content {
    height: calc(100vh - 260px);
  }
}

@media screen and (max-width: 767px) {
  .buttons {
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }
  .bottom_icons .container .content img {
    width: 22px !important;
    height: 22px !important;
  }
  .bottom_icons .container {
    justify-content: center;
  }
  .bottom_icons {
    width: 100%;
  }
  .para_text p {
    line-height: 24px; /* 100% */
  }
  .para_text .upload_logo {
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  .para_text .upload_logo label {
    max-width: 100%;
  }
  .number_of_units,
  .select_size_quantity .inputs {
    flex-wrap: wrap;
    gap: 10px;
  }
  .common_header {
    gap: 10px;
  }
  .standard_business_section {
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .add_to_bulk_container button {
    padding: 18px;
  }
  .total_estimate_container_text {
    width: 90%;
  }
  .detail_page_left_top .images_container {
    justify-content: start;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 545px) {
  .add_to_bulk_container button {
    padding: 16px;
  }
  .add_to_bulk_container button {
    max-width: 100%;
  }
}
