.QuotationSubmissionHeader .heading {
  width: 100%;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.16px;
  margin-bottom: 3rem;
  margin-top: 40px;
}

.QuotationSubmissionHeader .horizontal_line {
  width: 100%;
  height: 1px;
  background-color: rgba(162, 208, 97, 0.5);
}
