.QuotationSubmissionHeader .heading {
  width: 100%;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.16px;
  margin-bottom: 3rem;
  margin-top: 40px;
}

.QuotationSubmissionHeader .horizontal_line {
  width: 100%;
  height: 1px;
  background-color: rgba(162, 208, 97, 0.5);
  position: relative;
}
.stepCount{
  position: absolute;
  top:-12px;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stepCount span{
  background-color: #fff;
  color: #A2D061;
  text-align: center;
  border-radius: 50%;
  height: 25px;
  width:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #A2D061;
}
.stepCount span.active{
  background-color: #A2D061;
  color: #fff;
}
