.common_emptyProducts {
  min-height: 200px;
  text-align: center;
  font-size: 40px;
  color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .common_emptyProducts {
    font-size: 26px;
  }
}

.product_section {
  padding-top: 20px;
  border-top: 1px solid #d9d9d9;
}

.heading_content {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.heading_content h3 {
  font-size: 2rem;
  font-weight: 500;
}

.heading_content button {
  padding: 0.3rem 2rem;
  color: #a2d061;
  border: 1px solid #a2d061;
  border-radius: 30px;
}

.product_card_container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  margin: 15px 0;
}

.product_card_container .product_content {
  flex: 1;
}

.wishlistContainer {
  margin-block: 3rem;
  height: 50%;
  width: 80%;
  margin: 5rem auto;
}
