.common_emptyProducts {
  min-height: 200px;
  text-align: center;
  font-size: 40px;
  color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
}


.product_section {
  padding-top: 70px;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  max-width: 96%;
  margin: 0 auto;
}

.heading_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.heading_content h3 {
  font-size: 26px;
  font-weight: 600;
}

.heading_content button {
  padding: 0.3rem 2rem;
  color: #a2d061;
  border: 1px solid #a2d061;
  border-radius: 30px;
}

.product_card_container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  margin: 15px 0;
}

.product_card_container .product_content {
  flex: 1;
}

.wishlistContainer {
  margin-block: 3rem;
  height: 50%;
  width: 80%;
  margin: 5rem auto;
}

.accordion_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin: 3rem auto;
}

.accordion_section .accordion_left_container {
  flex: 1;
  padding: 50px 40px;
  border-radius: 30px;
  background-color: #f7f7f7;
}

.accordion_left_container h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
}
.accordion_content p{
  font-size: 18px;
}
.product_bottombtn {
  padding: 0px 1.5rem;
  border: 1px solid #a2d061;
  background-color: #eaf1e1;
  border-radius: 30px;
  font-size: 11px;
  /* margin-bottom: 2.5rem; */
  min-height: 30px;
  transition: .5s all ease-in-out;
}
.product_bottombtn:hover{
  background-color: #a2d061;
  color: #fff;
}
.open_accrodion{
  margin-bottom: 30px;
  font-size: 16px;
  color: #484848;
}
.accordion_section .accordion_right_container {
  flex: 1;
  display: flex;
  gap: 70px;
  flex-direction: column;
  justify-content: space-between;
}
.accordion_container{
  border-top: 1px solid #d9d9d9;
  margin-top: 2.5rem;
}
.accordion_details {
  border-bottom: 1px solid #d9d9d9;
}

.accordion_left_container .accordion_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}
.container .content .textContent>div>div {
  font-size: 18px;
  text-decoration: underline;
  margin-top: 10px;
  color: #111;
}
.container .content .textContent p {
  font-size: 14px;
}
.imgContentwrap{
  flex: 1;
  position: relative;
  min-height: 250px;
}

.accordion_right_container .container {
  border-radius: 30px;
  width: 100%;
  background-color: #f7f7f7;
}

.container .content {
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.container .content .textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  gap: 40px;
}
.container .content .textContent h2{
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
}
.container .content .imgContent {
  flex: 1;
  position: relative;
  min-height: 320px;
  margin-bottom: -80px;
}
.container .content .imgContent img {
  object-fit: contain;
}

.product_review_section {
  background-color: #f7f7f7;
  padding: 2rem;
}

.product_review_section .top_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.product_review_section .top_content h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.product_review_section .top_content button {
  padding: 0.7rem 2rem;
  background: #a2d061;
  color: #fff;
  border-radius: 30px;
}

.product_review_section .bottomContent {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.bottomContent .leftContent,
.bottomContent .rightContent {
  flex: 1;
}

.leftContent .container {
  padding-block: 2rem;
}

.leftContent .container:first-child {
  border-bottom: 1px solid #d9d9d9;
}

.startRating {
  display: flex;
  justify-content: flex-start;
  gap: 0.2rem;
}

.rightContent .righttopContent {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.rightContent p {
  font-size: 1.2rem;
}

.rightBottomContent {
  margin-top: 2rem;
}

.rightBottomContent .bottom_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.bottom_content h2,
.bottom_content p {
  flex: 1;
}

.bottom_content progress {
  flex: 4;
}

.resources_section {
  background-image: url('../assets/Resouces_image.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.resources_section .textContent {
  color: #fff;
}

.resources_section h4 {
  font-size: 1.5rem;
}

.resources_section h2 {
  font-size: 1.8rem;
  max-width: 400px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.resources_section p {
  max-width: 500px;
}

.resources_section .textContent div {
  margin-top: 2rem;
}

.resources_section div button {
  padding-block: 0.5rem;
  max-width: 150px;
  width: 100%;
  margin-right: 1rem;
  border-radius: 20px;
  border: 1px solid #fff;
}

.resources_section div button:last-child {
  background-color: #fff;
  color: #8d4399;
}
@media (min-width:1440px){
  .product_bottombtn {
    font-size: 14px;
    min-height: 37px;
  }
}
@media (max-width:1366px){
  .container .content .imgContent {
    margin-bottom: -100px;
    max-width: 230px;
  }
  .imgContentwrap {
    min-height: 190px;
    max-width: 190px;
}
.container .content .textContent>div>div {
  font-size: 16px;

}
}
@media (max-width:1200px){
  .container .content .imgContent {
    margin-bottom: -120px;
    max-width: 200px;
  }
  .imgContentwrap {
    min-height: 150px;
    max-width: 150px;
}
.accordion_left_container .accordion_content {
  padding-block: 20px;
}
.accordion_section .accordion_left_container, .container .content{
  padding: 30px 20px;
}
.accordion_section {
  gap: 20px;
}
}
@media (max-width:991px){
  .accordion_section {
    flex-direction: column;
  }
  .accordion_section .accordion_left_container, .container .content{
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .common_emptyProducts {
    font-size: 26px;
  }
  .product_section {
    max-width: 100%;
    padding: 50px 15px 0px;
  }
}
@media (max-width:576px){
  .imgContentwrap {
    min-height: 190px;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}
.accordion_section .accordion_left_container, .container .content{
  flex-direction: column;
  gap: 20px;
}
.container .content .imgContent {
  max-width: 200px;
  min-height: 240px;
  width: 100%;
  margin: 0 auto -100px;
}
.container .content .textContent {
  gap: 30px;
}
}