.container_div {
  max-width: 1330px;
  margin: 0 auto;
}

.Contact_container {
  display: flex;
  gap: 70px;
  align-items: flex-start;
  padding: 2rem 0;
  width: 100%;
  justify-content: space-between;
}
/* 
.left_Section {
  flex: 1;
  display: flex;
  justify-content: center;
} */

.left_Section_Content {
  max-width: 550px;
  width: 100%;
}

.left_Section_Content .heading {
  font-size: 30px;
  font-weight: 400;
  /* font-family: Poppins; */
}

.left_Section_Content .text_content {
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #707070;
  margin-top: 10px;
  padding-bottom: 30px;
}

.left_Section_Content .horizontal_line {
  width: 100%;
  height: 0.5px;
  background-color: #ddd;
  margin-bottom: 1.5rem;
}

.left_Section_Content .contact_numbers_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 30px;
}

.left_Section_Content .telephone_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #a2d061;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_Section_Content .telephone_icon svg {
  width: 25px;
  height: 20px;
}

.left_Section_Content .numbers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.left_Section_Content .numbers span:not(:nth-child(3)) {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Poppins' !important;
  letter-spacing: -2px;
}

.left_Section_Content .numbers span:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.left_Section_Content .meeting_section {
  margin-top: 1rem;
}

.left_Section_Content .meeting_section h2 {
  font-size: 30px;
  font-weight: 400;
}
.iconBox {
  margin-bottom: 70px;
}
.iconBox .info_section a {
  /* margin-top: 1rem; */
  font-size: 26px;
  color: #a2d061;
  font-weight: 500;
  text-decoration: underline;
}

.iconBox .social_icons {
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.iconBox .social_icons svg {
  fill: #666666 !important;
}
.meeting_section span {
  width: -webkit-fill-available !important;
}
.meeting_section span img {
  object-fit: contain;
  margin-top: 20px;
}
.right_Section {
  flex: 1;
}
.right_Section .inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 20px;
}

.right_Section .inputs input {
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid #cacaca;
  background-color: #f7f7f7;
  padding-left: 22px;
  font-size: 15px;
}

.right_Section .inputs textarea {
  width: 100%;
  resize: none;
  border-radius: 15px;
  border: 1px solid #cacaca;
  background-color: #f7f7f7;
  /* margin-top: 2rem; */
  padding: 1rem;
  padding-left: 22px;
  font-size: 15px;
}

.right_Section .inputs textarea:hover {
  outline: none;
}

.right_Section .inputs input:hover {
  outline: none;
}

.right_Section .inputs button {
  margin-top: 45px;
  /* width: 30%;
  height: 100%; */
  background-color: #a2d061;
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
  width: fit-content;
  padding: 15px 63px;
  font-weight: 600;
}

.right_Section .input_radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 25px;
}
.right_Section .input_radio p {
  text-decoration: underline;
  color: #949090;
  font-size: 14px;
}

.error {
  color: red;
  padding-left: 22px;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 0;
}

@media screen and (max-width: 1920px) {
  .left_Section_Content .numbers span:not(:nth-child(3)) {
    font-size: 22px;
  }
  .left_Section_Content .numbers span:nth-child(3) {
    font-size: 14px;
  }
  .left_Section_Content .telephone_icon {
    width: 50px;
    height: 50px;
  }
  .iconBox .info_section a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  .left_Section_Content .numbers span:not(:nth-child(3)) {
    font-size: 18px;
    line-height: 22px;
  }
  .left_Section_Content .numbers span:nth-child(3) {
    font-size: 14px;
  }
  .left_Section_Content .telephone_icon {
    width: 50px;
    height: 50px;
  }
  .iconBox .info_section a {
    font-size: 18px;
  }
  .iconBox .meeting_section h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1400px) {
  .container_div {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1300px) {
  .container_div {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1030px) {
  .container_div {
    max-width: 992px;
  }
}

@media screen and (max-width: 991px) {
  .container_div {
    max-width: 800px;
    max-width: 93%;
    flex-wrap: wrap;
  }
  .Contact_container {
    flex-wrap: wrap;
  }
  .left_Section_Content {
    max-width: 100%;
    width: 100%;
  }
  .left_Section_Content .heading,
  .left_Section_Content .meeting_section h2 {
    font-size: 24px;
  }
  .left_Section_Content .text_content {
    padding-bottom: 20px;
  }
  .left_Section_Content .numbers span:not(:nth-child(3)) {
    font-size: 18px;
    line-height: 26px;
  }
  .Contact_container {
    gap: 20px;
  }
  .right_Section .inputs button {
    font-size: 14px;
    padding: 12px 50px;
  }
}

@media screen and (max-width: 510px) {
  .left_Section_Content .heading,
  .left_Section_Content .meeting_section h2 {
    font-size: 20px;
  }
  .left_Section_Content .text_content {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
