.login_wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  min-width: 713px;
  background-color: #fff;
  border-radius: 30px;
  padding-block: 60px;
}

.login_content {
  width: 100%;
}

.login_img_content {
  width: 100%;
  text-align: center;
}

.form {
  margin-top: 30px;
  padding-inline: 3.5rem;
}
.form .input_box {
  width: 100%;
  margin-top: 0;
  padding: 10px;
}
.input_box input {
  height: 60px;
  width: 100%;
  outline: none;
  border: 1px solid #cacaca;
  border-radius: 30px;
  padding-left: 1.5rem;
  font-size: 17px;
  transition: all 0.3s ease;
  background-color: #f7f7f7d7;
}

.input_radio_content {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.input_box button {
  margin-top: 2.7rem;
  padding: 1rem 0;
  border-radius: 130px;
  background: var(--green, #a2d061);
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.input_box button:disabled {
  cursor: default;
  opacity: 0.5;
}

.error {
  color: red;
  margin-top: 5px;
  padding-left: 10px;
}

.input_box:last-child {
  text-align: center;
}

.input_box:last-child p span {
  color: #a2d061;
  text-decoration: underline;
  cursor: pointer;
}

.input_box .forgot_password {
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  color: #949090;
}

.input_box span {
  cursor: pointer;
  text-decoration: underline;
  color: #a2d061;
}

.input_box .reset_password {
  width: 100%;
}

.registered_text {
  color: #949090;
}
.registered_text span {
  font-weight: 500;
}
