/* h1, h2, h3, h4, h5{
    font-family: Poppins;
  } */
  /* p, div, span {
    font-family: '__DM_Sans_ae0b6a';
  }
   */
  .container11 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
  }

  .primary_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    max-width: 1368px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .14px;
    text-transform: capitalize;
    min-height: 45px;
  }

  .menu_center {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #000;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  }
  
  .text_with_down_icon {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .container_3 {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header_menu {
    min-width: 16rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
  .header .shop_menu {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    background: transparent;
    display: flex;
    gap: 10px;
    font-family: '__DM_Sans_ae0b6a';
  }
  .header .shop_menu:focus-visible {
    --tw-ring-shadow: none;
  }
  .shop_submenu {
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    transition: .2s all ease-in-out;
  }
  .shop_submenu:hover {
    background-color: #f7f8fa;
  }
  /* header-search */
  .header_searchicon img {
    cursor: pointer;
  }
  .header_search div span img {
    position: absolute;
    margin: unset;
    right: 0;
    top: 5px;
    width: 25px;
    cursor: pointer;
  }
  
  .header_search {
    background: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5% 0;
    z-index: 1;
    top: 0;
    box-shadow: 0px 0px 44px 0px #0000001a;
  }
  .header_search div {
    display: flex;
    width: 100%;
    max-width: 1368px;
    flex-direction: row-reverse;
    margin: 0 auto;
    position: relative;
  }
  .header_search div input {
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #000 !important;
    padding-left: 30px;
    font-size: 14px;
    color: #000;
  }
  .header_search div img {
    position: relative;
    margin-right: -25px;
    opacity: .6;
  }
  .header_search div input:focus {
    --tw-ring-offset-shadow: none;
  }
  .language_dropdown {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor:pointer;
  }
  .language_dropdown:hover {
    background: transparent;
  }
  .language_dropdown span.flag-img {
    width: 30px;
  }
  .language_wrapdropdown {
    min-width: 5rem;
    width: 5rem;
    padding: 0px;
  }
  
  .language_wrapdropdown>div {
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .language_wrapdropdown>div img {
    width: 100%;
  }
  .language_dropdown:focus-visible {
    --tw-ring-shadow: none;
  }
  
  .sidebar_links{
    position: absolute;
    background-color: black;
    width: 100vw;
    height:100vh;
    color: #fff;
    top: 0;
    left: 0;
    padding: 2rem;
    transition: width 2s;
  }
  
  .close_Icon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    z-index: 1;
    color :#fff;
  }
  
  .sidebar_links li{
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .language_wrapdropdown span {
    display: none;
  }
  .language_wrapdropdown div div {
    padding-left: 7px;
  }
  .main_container.header {
    padding: 10px 0px;
    position: sticky;
    top: 45px;
    background: #fff;
    z-index: 1;
    /* box-shadow: 40px 9px 44px 0px #0000000d; */
  }
  /* responsive */
  
  @media (min-width:768px){
    .mobile_menu, .menu_cross {
      display: none;
  }
  span.humburg_menu {
    display: none;
  }
  }
  @media (max-width:767px){
    .humburg_menu {
      width: 20px;
  }
    .container_2 {
      position: fixed;
      left: 0;
      background: #fff;
      box-shadow: 0px 0px 44px 0px #00000014;
      top: 0;
      bottom: 0;
      z-index: 1;
      max-width: 70%;
      width: 100%;
      transform: translateX(-100%);
      transition: .5s all ease-in-out;
  }
  .mobil_menuwrap button {
    padding: 0px 0px 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    font-family: '__DM_Sans_ae0b6a';
    border: 0px;
  }
  .menu_center .shop_menu {
    font-size: 16px;
  }
  .open_Sidebar .container_2 {
    transform: translateX(0);
    transition: .5s all ease-in-out;
  }
  .menu_center span.menu_cross {
    display: flex;
    width: 100%;
    justify-content: end;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 12px;
    margin-bottom: 20px;
  }
  .menu_center {
    flex-direction: column;
    position: relative;
    padding: 12px 15px;
    align-items: flex-start;
    gap: 0px;
  }
  .menu_center div {
    width: 100%;
    border: 0px;
  }
  .menu_center .shop_menu img {
    width: 18px;
    height: 18px;
  }
  .menu_center .shop_menu {
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px 30px;
    height: auto;
  }
  .desktop_menu {
    display: none;
  }
  .container_1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }
  @media (max-width:479px){
    .header_logo {
      width: 150px;
  }
  }