/* h1, h2, h3, h4, h5{
    font-family: Poppins;
  } */
/* p, div, span {
    font-family: 'DM Sans', sans-serif;
  }
   */
.container11 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.secondaryHeader_countries span {
  margin-bottom: 4px !important;
}
.secondaryHeader_countries span {
  margin-bottom: 4px !important;
}

.primary_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
  max-width: 1368px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
  text-transform: capitalize;
  min-height: 45px;
  margin-top: 20px;
}

.menu_center {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #000;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

.text_with_down_icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.container_3 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header_menu {
  min-width: 16rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.header .shop_menu {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  background: transparent;
  display: flex;
  gap: 10px;
  font-family: 'DM Sans', sans-serif;
  border: 0px;
}
.header .shop_menu:focus-visible {
  --tw-ring-shadow: none;
}
.header .shop_menu:hover {
  color: #a2d061;
}
.shop_submenu {
  cursor: pointer;
  /* border-radius: 10px; */
  background-color: #fff;
  padding: 10px;
  transition: 0.2s all ease-in-out;
  font-family: 'DM Sans', sans-serif;
}
.shop_submenu:hover {
  background-color: transparent;
  color: #a2d061;
}
.shop_submenu {
  cursor: pointer;
  /* border-radius: 10px; */
  background-color: #fff;
  padding: 10px;
  transition: 0.2s all ease-in-out;
}
.dropemnu_design .shop_submenu:last-child {
  border-radius: 0 8px 8px 0;
}
/* header-search */
.header_searchicon img {
  cursor: pointer;
}
.header_search div span img {
  position: absolute;
  margin: unset;
  right: 0;
  top: 5px;
  width: 25px;
  cursor: pointer;
}

.header_search {
  background: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  padding: 5% 0;
  z-index: 1;
  top: 0;
  box-shadow: 0px 0px 44px 0px #0000001a;
}
.header_search div {
  display: flex;
  width: 100%;
  max-width: 1368px;
  flex-direction: row-reverse;
  margin: 0 auto;
  position: relative;
}
.header_search div input {
  background: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000 !important;
  padding-left: 30px;
  font-size: 14px;
  color: #000;
}
.header_search div img {
  position: relative;
  margin-right: -25px;
  opacity: 0.6;
}
.header_search div input:focus {
  --tw-ring-offset-shadow: none;
}
.language_dropdown {
  border: 1px solid #000;
  padding: 10px 10px 6px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  background: transparent;
  cursor: pointer;
}
.language_dropdown:hover {
  background: transparent;
}
.language_dropdown span.flag-img {
  width: 30px;
}
.language_wrapdropdown {
  min-width: 5rem;
  width: 5rem;
  padding: 0px;
}

.language_wrapdropdown > div {
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.language_wrapdropdown > div img {
  width: 100%;
}
.language_dropdown:focus-visible {
  --tw-ring-shadow: none;
}

.sidebar_links {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: #fff;
  top: 0;
  left: 0;
  padding: 2rem;
  transition: width 2s;
}

.close_Icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  z-index: 1;
  color: #fff;
}

.sidebar_links li {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.language_wrapdropdown span {
  display: none;
}

.main_container.header {
  padding: 10px 0px;
  position: sticky;
  top: 45px;
  background: #fff;
  z-index: 1;
  /* box-shadow: 40px 9px 44px 0px #0000000d; */
}

.shop_submenu {
  cursor: pointer;
  /* border-radius: 10px; */
  background-color: #fff;
  padding: 10px;
  transition: 0.2s all ease-in-out;
}
.dropemnu_design:last-child .shop_submenu {
  border-radius: 0 8px 8px 0;
}

.searchInput {
  position: fixed;
  width: 100%;
  z-index: 99;
  left: 0;
  margin: auto;
  transition: all 0.3s ease;
  animation: centerFieldanime 0.5s;
  top: 0px;
  transform: translateY(-200px);
  transition: 0.5s all ease-in-out;
}
.show_input {
  transform: translateY(0px);
  transition: 0.5s all ease-in-out;
}
.centerField {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  background: #ffff;
  height: 200px;
}
.searchInput input {
  width: 100%;
  border-bottom: 1px solid #bbb;
  padding: 10px 20px 10px 0px;
  border-radius: 0;
  color: #111;
  font-size: 14px;
  outline: 0;
  max-width: 1280px;
}
.cross_search {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.language_wrapdropdown {
  background-color: red;
}
.searchIcon {
  position: absolute;
  right: 0;
}

.search_results {
  position: absolute;
  top: 130px;
  width: 100%;
  max-width: 1310px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: #00000008 0px 9px 47px 0px, #00000026 0px 8px 16px -8px;
  border-radius: 7px;
}

.search_results ul,
.search_results ul li {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
.search_results ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
  overflow-y: auto;
}
.search_productlist {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border: 1px solid #00000012;
  border-radius: 7px;
  transition: 0.5s all;
  padding: 10px;
}
.search_productlist:hover {
  background-color: #a2d06117;
  border-color: #a2d06185;
}
.search_productlist img {
  object-fit: contain;
}
.search_productlist h4 {
  color: #000;
  font-size: 16px;
  line-height: normal;
}
.search_productlist p {
  color: #2e2e2e;
  font-size: 14px;
  margin-top: 10px;
  line-height: normal;
}

.empty_Products {
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
/* animation start*/
/* @keyframes centerFieldanime {
  from {
    transform: translateY(-200px);
    transition: .5s all ease-in-out;
  }
  to {
    transform: translateY(0px);
    transition: .5s all ease-in-out;
  }
} */
.header .shop_menu {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  background: transparent;
  display: flex;
  gap: 10px;
  font-family: 'DM Sans', sans-serif;
  border: 0px;
}
/* animation end */

/* responsive */
@media (min-width: 1440px) {
  .shop_submenu {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    transition: 0.2s all ease-in-out;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
  }
  .header .shop_menu {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    background: transparent;
    display: flex;
    gap: 10px;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
  }
  .text_with_down_icon img {
    width: 15px !important;
    width: 15px !important;
    top: 5px !important;
  }
}

@media (min-width: 768px) {
  .mobile_menu,
  .menu_cross,
  .primary_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    max-width: 1368px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.14px;
    text-transform: capitalize;
    min-height: 45px;
  }

  .menu_center {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #000;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    position: relative;
  }

  .text_with_down_icon {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .container_3 {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header_menu {
    min-width: 16rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .header .shop_menu:focus-visible {
    --tw-ring-shadow: none;
  }
  .shop_submenu {
    cursor: pointer;
    /* border-radius: 10px; */
    background-color: #fff;
    padding: 10px;
    transition: 0.2s all ease-in-out;
  }
  .shop_submenu:hover {
   transform: scale(1.1);
  }
  /* header-search */
  .header_searchicon img {
    cursor: pointer;
  }
  .header_search div span img {
    position: absolute;
    margin: unset;
    right: 0;
    top: 5px;
    width: 25px;
    cursor: pointer;
  }

  .header_search {
    background: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5% 0;
    z-index: 1;
    top: 0;
    box-shadow: 0px 0px 44px 0px #0000001a;
  }
  .header_search div {
    display: flex;
    width: 100%;
    max-width: 1368px;
    flex-direction: row-reverse;
    margin: 0 auto;
    position: relative;
  }
  .header_search div input {
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #000 !important;
    padding-left: 30px;
    font-size: 14px;
    color: #000;
  }
  .header_search div img {
    position: relative;
    margin-right: -25px;
    opacity: 0.6;
  }
  .header_search div input:focus {
    --tw-ring-offset-shadow: none;
  }
  .language_dropdown {
    border: 1px solid #000;
    padding: 10px 10px 6px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    background: transparent;
    cursor: pointer;
    align-items: center;
  }
  .language_dropdown:hover {
    background: transparent;
  }
  .language_dropdown span.flag-img {
    width: 30px;
  }
  .language_wrapdropdown {
    width: 4rem;
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .language_wrapdropdown > div img {
    width: 100% !important;
  }
  .language_dropdown:focus-visible {
    --tw-ring-shadow: none;
  }

  .sidebar_links {
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: #fff;
    top: 0;
    left: 0;
    padding: 2rem;
    transition: width 2s;
  }

  .close_Icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    z-index: 1;
    color: #fff;
  }

  .sidebar_links li {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .language_wrapdropdown span {
    display: none;
  }

  .main_container.header {
    padding: 10px 0px;
    position: sticky;
    top: 45px;
    background: #fff;
    z-index: 1;
    /* box-shadow: 40px 9px 44px 0px #0000000d; */
  }
}
/* responsive */

@media (min-width: 768px) {
  .mobile_menu,
  .menu_cross {
    display: none;
  }
  span.humburg_menu {
    display: none;
  }

}
@media (max-width: 767px) {
  .humburg_menu {
    width: 20px;
  }
  .container_2 {
    position: fixed;
    left: 0;
    background: #fff;
    box-shadow: 0px 0px 44px 0px #00000014;
    top: 0;
    bottom: 0;
    z-index: 1;
    max-width:320px;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s all ease-in-out;
  }
  .mobil_menuwrap button {
    padding: 0px 0px 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
  }
  .menu_center .shop_menu {
    font-size: 16px;
  }
  .open_Sidebar .container_2 {
    transform: translateX(0);
    transition: 0.5s all ease-in-out;
  }
  .menu_center span.menu_cross {
    display: flex;
    width: 100%;
    justify-content: end;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 12px;
    margin-bottom: 20px;
  }
  .menu_center {
    flex-direction: column;
    position: relative;
    padding: 12px 15px;
    align-items: flex-start;
    gap: 0px;
  }
  .menu_center div {
    width: 100%;
    border: 0px;
  }
  .menu_center .shop_menu img {
    width: 18px !important;
    height: 18px !important;
  }
  .menu_center .shop_menu {
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px 30px;
    height: auto;
  }
  .desktop_menu {
    display: none;
  }
  .container_1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width:641px){
  .primary_header_container {
    margin-top: 10px;
  }
}
@media (max-width: 479px) {
  .header_logo {
    width: 180px;
  }
  /* .container_1 {
    left: -70px;
  } */
}
@media (max-width: 375px) {
  .header_logo {
    width: 150px;
  }
  /* .container_1 {
    left: -90px;
  } */
}

.shop_submenu.active {
  background: #fff !important;
  border-radius: 0 0 20px 20px !important;
  padding-bottom: 5px !important;
}

@media (max-width: 991px) and (min-width: 768px) {
  .primary_header_container {
    padding-top: 20px !important;
  }
}
